.footer {
  background: #000000;
  color: white;
  padding: 2rem;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-logo {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 10px;
  animation: float 3s ease-in-out infinite;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.social-icons a {
  color: #ffffff;
  font-size: 18px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #6ddf5c;
}

h3{
  color: #6ddf5c;
}

.typewriter {
  overflow: hidden;
  border-right: 2px solid #fff;
  white-space: nowrap;
  margin-top: 10px;
  font-size: 14px;
  width: 0;
  animation: typing 5s steps(60, end) forwards;
  color: #deb513;
  font-weight: bold;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

@keyframes typing {
  from { width: 0 }
  to { width: 114% }
}

.footer-divider {
  border: none;
  border-top: 1px solid #444;
  margin: 2rem 0 1rem;
}

.footer-bottom {
  text-align: center;
  font-size: 14px;
  color: #aaa;
}
